.movie-card {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  background-color: lightgrey;
}

.movie-card:hover .icon-container {
  display: flex;
}

.movie-card img {
  max-width: 100%;
  border-radius: 10px;
}
