.board-title {
    text-align: center ;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.back-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 20px;
    color: var(--color-primary);
    font-size: 1.2em;
    font-weight: 500;
}

.back-arrow:hover {
    color: var(--color-primary-hover)
}